<h1>March of the <strong>Mammoths</strong> 🦣</h1>

<ul>
  {{#each this.library as |book|}}
    <li><i>{{book.title}}</i>,
      <label>pages
        <Input @type='number' min='0' @value={{book.progress}} /></label>
      /{{book.pages}}
      <button type='button' {{on 'click' this.saveData}}>💾 Save</button>
      {{#if this.showStats}}(pace:
        {{this.calculatePace book.pages book.progress}}
        ppd){{/if}}</li>
  {{/each}}
</ul>

<Inputtoggle @toggle={{this.toggleStats}}/>

<form {{on 'submit' this.addBook}}>
  <h2>Add a new book 📖</h2>
  <label for='book-title'>Title: </label>
  <input type='text' id='book-title' />
  <label for='book-pages'>Pages:</label>
  <input type='number' id='book-pages' />
  <button type='submit'>➕ Add</button>
</form>